doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-app='woxuexiApp')
		block content
		script(src='/jquery/dist/jquery.min.js')
		script(src='/angular/angular.min.js')
		script(src='/javascripts/angular/woxuexiApp.js')
		script(src='/javascripts/angular/accentFilter.js')
		script(src='/javascripts/angular/pinyinFilter.js')
		script(src='/javascripts/angular/listWordsController.js')
