doctype html
html
	head
		meta(charset='UTF-8')
		title= title
		meta(name='description', content='Learn chinese')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		meta(name='mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-capable', content='yes')
		link(rel='icon', href='style/icons/favicon.ico', type='image/x-icon')
		link(rel='shortcut icon', sizes='128x128', href='apple-touch-icon-precomposed.png')
		link(rel='style/icons/apple-touch-icon-precomposed', href='apple-touch-icon-precomposed.png')
		link(rel='stylesheet', href='vendor/normalize-css/normalize.css')
		link(rel='stylesheet', href='style/main.css')
		link(rel='localization', href='locales/manifest.json')
		script(defer, src='vendor/l20n/l20n.min.js')
	body(ng-app='woxuexiApp')
		block content
		script(defer, src='vendor/jquery/dist/jquery.min.js')
		script(defer, src='vendor/angular/angular.min.js')
		script(defer, src='vendor/angular-animate/angular-animate.min.js')
		script(defer, src='js/angular/woxuexiApp.js')
		script(defer, src='js/angular/filters/accentFilter.js')
		script(defer, src='js/angular/filters/pinyinFilter.js')
		script(defer, src='js/angular/services/restService.js')
		script(defer, src='js/angular/controllers/wordController.js')
		script(defer, src='js/angular/controllers/listOfWordsController.js')
