doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-app='woxuexiApp')
		block content
		script(src='/jquery/dist/jquery.min.js')
		script(src='/angular/angular.min.js')
		script(src='/angular-animate/angular-animate.min.js')
		script(src='/javascripts/angular/woxuexiApp.js')
		script(src='/javascripts/angular/filters/accentFilter.js')
		script(src='/javascripts/angular/filters/pinyinFilter.js')
		script(src='/javascripts/angular/services/restService.js')
		script(src='/javascripts/angular/controllers/wordController.js')
		script(src='/javascripts/angular/controllers/listOfWordsController.js')
